#
# DEP-8: autopkgtest - automatic as-installed package testing
#        Please check * https://dep-team.pages.debian.net/deps/dep8/
#                     * /usr/share/doc/autopkgtest
#

Tests: test-help
Depends: ms-365-mcp-server
Restrictions: allow-stderr

Tests: test-version
Depends: ms-365-mcp-server
Restrictions: allow-stderr
